<div search-bar placeholder="2017新年年货大全"></div>
<div nav-with-logo="navBarList"></div>

<div id="brand-collection" product-waterfall="products" state="brandCollection" state-params="stateParams">
    <div class="brand-info">
        <img ng-src="{{ brand.banner }}" />
        <div class="brand-desc">
            <span class="brand-logo">
                <img ng-src="{{ brand.logo }}" alt="">
            </span>
            <span class="brand-detail"> 
                <p>{{ brand.description }}</p>
            </span>
        </div>
    </div>
</div>