<div class="product-filter-wrapper">
    <div class="product-filter-content">
        <div class="product-filter-box">
            <div class="product-filter-crumb">
                <a class="filter-tag-box"> {{ group&&group.name ? group.name : '所有分类' }} </a>
                <span ng-show="getCategoriesChecked()">&nbsp;> </span><a class="filter-tag-box" ng-show="getCategoriesChecked()">{{ getCategoriesChecked() }}</a>
                <span> > </span> <span><input class="filter-query" type="text" placeholder="搜索结果内过滤" ng-model="filterQuery" /><button ng-click="searchByQuery()" class="filter-query-btn" type="button">搜索</button></span>
            </div>
            <div class="product-filter-brand" ng-show="groups.length">
                <div class="product-filter-brand-key">一级分类</div>
                <div class="product-filter-brand-values">
                    <ul>
                        <li ng-repeat="group in groups track by group.id" ng-class="{active: group.checked}" ng-click="handleGroup( group.checked, group)"> 
                            {{ group.name }} 
                            <span class="delete" ng-show="group.checked" ng-click="deleteGroup($index, $event)">&times;</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="product-category" ng-show="categories.length">
                <div class="product-filter-cate-key" >二级分类</div>
                <div class="product-filter-cate-values">
                    <ul>
                        <li ng-repeat="c in categories track by c.id" ng-class="{active: c.checked}" ng-click="handleCategory(1* c.checked, $index)"> 
                            {{ c.name }} 
                            <span class="delete" ng-show="c.checked" ng-click="deleteCategory($index, $event)">&times;</span>
                        </li>
                    </ul>
                </div>
            </div>            
        </div>
    </div>
</div>