body {
    min-width: 1000px;
}

hide { display: none;}

.spinner {
    animation-fill-mode: both;
    animation: spin 1s infinite ease;
}

.kmall-container {
    width: 100%;
    overflow: auto;
    display: block;
    box-sizing: border-box;
    padding: none;
}

.bg-gray {
    background: #f5f5f5;
}

div {
    box-sizing: border-box;
}

.kmall-content {
    margin: auto auto;
    padding: none;
}

@media screen and (max-width: 1023px) {
   .kmall-content {
       width: 800px;
   }
}

@media screen and (min-width: 1024px) and (max-width:1279px) { 
   .kmall-content {
       width: 1000px;
   }       
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
   .kmall-content {
       width: 1200px;
   }  
}

@media screen and (min-width:1920px) {
   .kmall-content {
       width: 1440px;
   }   
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes spin {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(360);
    }
}