body {
    min-width: 1000px;
}

hide { display: none;}

.spinner {
    animation-fill-mode: both;
    animation: spin 1s infinite ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes spin {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(360);
    }
}