<div id="search-bar">
    <fieldset>
        <input type="text" class="search-bar-input" ng-model="_searchKeywords" ng-keyup="searchWithEnter($event, _searchKeywords)" placeholder="{{placeholder}}"/>
        <button class="search-bar-submit" ng-click="search(_searchKeywords)">搜索</button>
    </fieldset>
    <ul class="hot-search">
        <li><a href="">每天人工挑选万件好货，想要什么搜搜看吧！</a></li>
        <!--<li><a href="">零食</a></li>
        <li><a href="">四件套</a></li>
        <li><a href="">洗衣机</a></li>
        <li><a href="">沙发</a></li>
        <li><a href="">家居服</a></li>
        <li><a href="">运动鞋</a></li>
        <li><a href="">女包</a></li>
        <li><a href="">吹风机</a></li>
        <li><a href="">暖宝宝</a></li>        -->
    </ul>
</div>