<div search-bar placeholder="2017新年年货大全"></div>
<div nav-with-logo></div>
<div coupon-list-filter 
    group-id="{{ groupId }}"
    categories="{{ categories.join(',') }}" 
    query = "{{ query }}"
    on-select="filter(data)"></div>

<div class="coupon-content-wrapper">
    <div class="coupon-content">
        <div class="coupon-content-adjuster" lazy-image-list="products.data">
            <div class="coupon-box" ng-repeat = "p in products.data">
                <div class="coupon-image"><img xsrc="{{ p.product_image }}" class="lazy-image-instance"></div>
                <div class="coupon-detail">
                    <span class="coupon-title" ng-bind="p.product_name"></span>
                    <span class="coupon-sub-title" ng-bind="p.coupon_text" ></span>
                    <span class="coupon-link">
                        <span class="coupon-price">
                            <span class="current">
                                <span>{{ getDiscountPrice(p.price, p.coupon_text) }}</span>
                            </span>    
                            <span class="origin" ng-bind="p.price"></span>
                        </span>
                        <a href="#" class="coupon-btn-link">马上抢</a>
                    </span>
                    <span class="coupon-process">
                        <span class="progress-bar">
                            <span ng-style="getProgress(p.coupon_left_amount, p.coupon_total_amount)"></span>
                        </span>
                        <span class="progress-text">
                            <span class="progress-left">剩余：{{p.coupon_left_amount}}张</span>
                            <span class="progress-attributed">已领取：{{ p.coupon_total_amount - p.coupon_left_amount }}张</span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    
    <!--<div guess-like items="guessItems"></div>-->
</div>